<!DOCTYPE html>
<html>
<head>
	<title>Another try</title>
	<link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' rel='stylesheet'>
	<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
	<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
	<style>
		.inlineimage {
		max-width: 470px;
		margin-right: 8px;
		margin-left: 10px
		}

		.images {
		    display: inline-block;
		    max-width: 98%;
		    height: auto;
		    width: 17%;
		    margin: 1%;
		    left: 20px;
		    text-align: center
		}
		.center{
			margin: auto;
			width: 23%;
		}
		.smn{
			width: 6%;
		}
		.brand {
			font-size: 40px;
			font-weight: 700;
			height: 56px;
			display: flex;
			align-items: center;
			color: black;
			position: sticky;
			top: 0;
			left: 0;
			background: var(--light);
			z-index: 500;
			padding-bottom: 20px;
			box-sizing: content-box;
		}

		#funding {
			color: green;
		}
		
	</style>
</head>
<body oncontextmenu='return false' class='snippet-body'>
	
	<div class="page-header text-center">
		<img class="img-responsive images" src="hello.png">
		<h3 class="brand text-center center">	
			 Naija <span id="funding"> FundSme </span> 
		</h3>
	</div>
	<div class="smn">
	<div class="container">
		        <div class="row">
		            <div class="col-xs-12 col-md-6 col-md-offset-4">
		                <div class="panel panel-default">
		                    <div class="panel-heading">
		                        <div class="row">
		                            <h3 class="text-center"></h3>
		                            <div class="inlineimage"> 
		                            	<img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Mastercard-Curved.png">
		                            	<img class="img-responsive images" src="zenith-bank.svg">
		                            	<img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Paypal-Curved.png">
		                            	<img class="img-responsive images" src="cc-visa-brands.svg">
		                            </div>
		                        </div>
		                    </div>
		                    <div class="panel-body">
		                        <form role="form">
		                            <div class="row">
		                                <div class="col-xs-12">
		                                    <div class="form-group"> <label>CARD NUMBER</label>
		                                        <div class="input-group"> <input type="tel" class="form-control" placeholder="Valid Card Number" /> <span class="input-group-addon"><span class="fa fa-credit-card"></span></span> </div>
		                                    </div>
		                                </div>
		                            </div>
		                            <div class="row">
		                                <div class="col-xs-7 col-md-7">
		                                    <div class="form-group"> <label><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label> <input type="tel" class="form-control" placeholder="MM / YY" /> </div>
		                                </div>
		                                <div class="col-xs-5 col-md-5 pull-right">
		                                    <div class="form-group"> <label>CV CODE</label> <input type="tel" class="form-control" placeholder="CVC" /> </div>
		                                </div>
		                            </div>
		                            <div class="row">
		                                <div class="col-xs-12">
		                                    <div class="form-group"> <label>CARD OWNER</label> <input type="text" class="form-control" placeholder="Card Owner Name" /> </div>
		                                </div>
		                            </div>
		                        </form>
		                    </div>
		                    <div class="panel-footer">
		                        <div class="row">
		                            <div class="col-xs-12"> <button class="btn btn-success btn-lg btn-block">Confirm Payment</button> </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
</body>
<script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js'></script>
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>