<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>NaijaFundSme |Login </title>

    <!-- styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <form action="#" class="mt" method="POST">
        <div class="col-xs-12">
        {% if display_alert == 0 %}
          <div class="col-xs-12">
            <div class="alert alert-danger" role="alert">Username or password is invalid</div>
          </div>
        {% endif %}
        <div class="title"> Login as SME's </div>
        <div class="input-box underline">
          <input type="text" name="email" placeholder="Enter Your Email" required>
          <div class="underline"></div>
        </div>
        <div class="input-box">
          <input type="password" name="password" placeholder="Enter Your Password" required>
          <div class="underline"></div>
        </div>
        <div class="input-box button">
          <input type="submit" name="login" value="Login">
        </div>
      </form>
        <div class="option"> Sign in with any social media platform </div>
        <div class="twitter">
          <a href="#"><i class="fab fa-twitter"></i>Sign in With Twitter</a>
        </div>
        <div class="facebook">
          <a href="#"><i class="fab fa-facebook-f"></i>Sign in With Facebook</a>
        </div>
    </div>
  </body>
</html>