<!doctype html>
                        <html>
                            <head>
                                <meta charset='utf-8'>
                                <meta name='viewport' content='width=device-width, initial-scale=1'>
                                <title>NaijaFundSme| Sign Up</title>
                                <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet'>
                                <link href='' rel='stylesheet'>
                                <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
                                <style>
                                    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

                                body {
}

h1 {
    margin-bottom: 40px
}

label {
    color: #333
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

.card {
    margin-left: 10px;
    margin-right: 10px

}
.images {
            display: inline-block;
            max-width: 98%;
            height: auto;
            width: 17%;
            margin: 1%;
            left: 20px;
            text-align: center
        }
#funding {
            color: #097730;
        }
</style>
                                </head>
                                <body oncontextmenu='' class='snippet-body'>
                                <div class="container"> <div class=" text-center mt-5 ">
                                    <img class="img-responsive images" src="{{ url_for('static', filename='img/hello.png')}}">
        <h1><span style="font-family: 'Poppins', sans-serif;font-weight: 600;">NAIJA<span id="funding"> FUDSME </span></span> | Sign up INVESTORS</h1>
    </div>
    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">
                    <div class="container">
                        <form action="#" method="POST" id="contact-form" role="form">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group"> <label for="form_name">Full Name *</label> <input id="form_name" type="text" name="fname" class="form-control" placeholder="Enter Full Name" required="required" data-error="Firstname is required."> </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_name">Email *</label> <input id="form_name" type="text" name="email" class="form-control" placeholder="Enter Valid Email" required="required" data-error=""> </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_lastname">Phone Number *</label> <input id="form_lastname" type="text" name="phoneno" class="form-control" placeholder="Enter Phone Number" required="required" data-error=""> </div>
                                    </div>
                                </div>

                                 <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_name">National Identification Number *</label> <input id="form_name" type="text" name="nin" class="form-control" placeholder="Enter Valid NIN" required="required" data-error=""> </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_name">Zip-Code</label> <input id="form_name" type="text" name="zipcode" class="form-control" placeholder="Enter Zip-Code" required="required" data-error=""> </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_email">Company Name [Optional]</label> <input id="form_email" type="text" name="companyname" class="form-control" placeholder="Enter Company Name"  data-error="Valid email is required."> </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_email">CAC [Optional]</label> <input id="form_email" type="text" name="companyid" class="form-control" placeholder="Enter CAC"  data-error="Valid email is required."> </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group"> <label for="form_email">Password</label> <input id="form_email" type="password" name="password" class="form-control" placeholder="Enter pasword" required="required" data-error=""> </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group"> <label for="form_email">Confirm Password</label> <input id="form_email" type="password" name="cpassword" class="form-control" placeholder="Confirm Password" required="required" data-error=""> </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12"> <input type="submit" class="btn btn-success btn-send pt-2 btn-block " value="SIGN UP"> </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- /.8 -->
        </div> <!-- /.row-->
    </div>
</div>
                                <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
                                <script type='text/javascript' src=''></script>
                                <script type='text/javascript' src=''></script>
                                <script type='text/Javascript'></script>
                                </body>
                            </html>